*.mod
*.out
*.dat
*.txt
!CMakeLists.txt
dq_var_cpp
dq_var_fortran
q_var_fortran
flux_res_var_cpp
flux_res_var_fortran
q_var_cpp
q_var_fortran
.vscode/settings.json
3d_new_data
*.ncu-rep
*.nsys-rep
*.sqlite
Different_inner_iterations_CPU_3D/
single_GPU_580485/
inputFiles/
single_gpu_jobs/
cpuScripts/
outputFiles/
reports/